:root{
  --brand: #0d6efd;
  --muted: #6c757d;
}
body {
    background: #0d0d0d;
    color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}
.custom-navbar  {
  z-index: 9999 !important;
  box-shadow: 0 6px 20px 8px rgba(0, 0, 0, 0.8) !important;
  border-bottom: 1px solid rgba(255,255,255,0.15) !important; /* Soft bottom border */
  background-color: rgba(0, 0, 0, 0.7) !important; /* 70% opacity black */
  backdrop-filter: blur(10px) !important; /* optional: adds a frosted glass effect */
}

.navbar-brand strong { color: var(--brand); }
footer { font-size: .9rem; }
img.img-hero { max-height: 420px; object-fit: contain; }
.card {
    /* background: #1a1a1a; */
    padding: 20px;
    border-radius: 12px;
}
@media (max-width: 576px){
  .display-5 { font-size: 1.6rem; }
}
